.App {
  text-align: left;
}

.App-logo {
  height: 160px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 0;
  color: white;
}
.scoreboard {
  color: black;
}

.header-text {
  text-transform: uppercase;
}
